# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# Poetry
poetry.lock

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo

# Pyenv
.python-version

# Jupyter
.ipynb_checkpoints/

# Coverage
htmlcov/
.coverage
.tox/

# Docker
*.pid

# Test
*.cover

# Backup
*~
